@page
@model BulkMandateGen.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].PayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].PayerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].PayerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].MandateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].MaxNoOfDebits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].PayerAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].PayerBankCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].MandateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetupMandate[0].RequestId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SetupMandate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MandateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNoOfDebits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerBankCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MandateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
